@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap');


.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4682A9;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  /* Ubah angka 0.5 sesuai dengan tingkat transparansi yang diinginkan */
  padding: 10px;
  z-index: 3;
}


/* Gaya CSS untuk card home */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 350px;
  padding-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}



    .navigation {
      position: fixed;
      height: 100%;
    }